/*================================
            Common CSS
================================*/
*{
    margin:0;
    padding:0;
    outline: 0;
}

body{
    font-family: 'Playfair Display', serif;
}
ul li{
    list-style-type:none;
}
a{
    text-decoration:none;
}


/*================================
            Header Section
================================*/


#header{
	background:#fff;
	height:60px;
}

.header_left{
	padding-top:15px;
	padding-bottom:15px;
}
.header_left a{
	font-size:16px;
	color:#010002;
	font-weight:700;
	text-decoration:none;
	margin-right:50px;
}
.header_right{
	padding-top:8px;
	padding-bottom:8px;
}
.header_right a{
	font-size:25px;
	color:#313131;
	font-weight:700;
	text-decoration:none;
	margin-left:15px;
	transition:all 0.3s linear;
}

.header_right a:hover{
	color:#010002;
}
/*======================================
      Navigation Section
======================================*/

.nav_style {
	position:fixed;
	width:100%;
	z-index:9999;
	top:60px;
	transition:all 0.3s linear;
}


.sticky_nav_bg{
	background: rgba(8, 8, 8, 0.9);
	width:100%;
	top:0px;
}

.navbar-brand img{
    width: 100px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 14 px;
    text-transform: capitalize;
    border: 1px solid #71c78600;
    border-radius: 11px;
    padding: 3px 20px;
	transition:all 0.3s linear;
	margin-right: 5px;
}

.navbar-light .navbar-nav .nav-link:hover{
	border: 1px solid #71c786;
	color:#fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   border: 1px solid #71c786;
	color:#fff;
}

.nav_flag {
    margin-top: -5px;
    margin-right: -148px;
}

.nav_flag img {
	width: 50px;
}

.nav_flag :first-child {
    margin-right: -20px;
    margin-left: 52px;
}

/*======================================
      Banner Section
======================================*/
#banner{
	max-width: 100%;
	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/banner.jpg);
/*	color:rgba(0, 0, 0, 0.5);	background:url(../images/banner.jpg);*/
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
/*	background-attachment:fixed;*/
}

.banner_content{
	color:#fff;
}

.banner_content h2{
	font-size:47px;
	text-transform: uppercase;
	margin-top:180px;
	margin-bottom:20px;
	font-weight: 400;
}

.banner_content h5{
	font-size:30px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom:30px;
}

.banner_btn{
	margin-bottom:170px;
}

.btn_1 {
	font-size:20px;
    padding: 5px 25px;
	font-weight: bold;
    background: #4caf50;
    color: #fff;
	border:2px solid rgba(76, 175, 80, 0);
    border-radius: 10px;
	transition:all 0.2s linear;
	
	-webkit-transition:all 0.2s linear;
}

.btn_1:hover {
	color: #4caf50;
    background: #fff;
	border:2px solid #4caf50;
}



/*================================
        intelligent Section
================================*/
#intelligent{
	background:#fff;
	padding-top:120px;
	padding-bottom:120px;
}

.intelligent_col{}
.intelligent_col img{}
.intelligent_col h3{
	font-size:35px;
	color:#010002;
	margin-top:30px;
}


/*================================
        Products Section
================================*/
#product{
	background:#ebebeb;
	padding-top:100px;
	padding-bottom:100px;
}
.product_top_row{}
.product_top_row h3{
	font-size:45px;
	color:#010002;
	text-transform:capitalize;
}
.product_top_row h5{
	font-size:30px;
	color:#010002;
}

.product_col{
	position:relative;
}

.product_col img{}

.img_position {
    margin-top: 38px;
}

.product_col h3{
	font-size:35px;
	color:#010002;
	margin-top:30px;
}

.product_col a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;
	display:inline-block;
	transition:all 0.3s linear;
}

.product_col a:hover{
	color: #d5e484;
}

.link_1 {
    position: absolute;
    background: #4b1fa0;
    bottom: 24px;
    left: 90px;
}
.link_2{
	position: absolute;
    background: #d63b00;
    bottom: 24px;
    left: 105px;
}
.link_3{
	position: absolute;
    background: #0054a6;
    bottom: 24px;
    left: 90px;
}



/*================================
       Mind Section
================================*/
#mind_section{
	background:#fff;
	padding-top:100px;
	padding-bottom:80px;
}
.mind_sec_row{}
.mind_sec_row h3{
	font-size:45px;
	color:#010002;
	text-transform:capitalize;
	margin-bottom:50px;
}

.mind_sec_row img{
	width:180px;
	height:200px;
	margin-bottom:50px;
}

.mind_sec_row h5{
	font-size:30px;
	color:#010002;
}


/*================================
        Product Two Section
================================*/
#product_02{
	background:#ebebeb;
	padding-top:100px;
	padding-bottom:100px;
}
.product_two_row{}


.product_two_col_01{
	
}

.product_two_col_01 img{
	
}

.product_two_col_02{
	position:relative;
}

.product_two_col_02 img{}


.product_two_col_02 h3 {
    position: absolute;
    font-size: 35px;
    color: #010002;
    top: 186px;
    left: 42px;
}

.product_two_col_02 a {
    position: absolute;
    background: #4b1fa0;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s linear;
    top: 388px;
    left: 164px;
}

.product_two_col_02 a:hover{
	color: #e4ff03;
}


/*================================
       Soul Section
================================*/
#soul_section{
	background:#fff;
	padding-top:80px;
	padding-bottom:80px;
}
.soul_colum{}
.soul_colum h3{
	font-size:45px;
	color:#010002;
	text-transform:capitalize;
	margin-bottom:50px;
}

.soul_colum img{
	width:180px;
	height:200px;
	margin-bottom:50px;
}

.soul_colum h5{
	font-size:27px;
	color:#010002;
	margin-bottom:28px;
	line-height: 45px;
}

.soul_colum a{
    background: #71c786;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 50px;
    border-radius: 10px;
    color:#010002;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s linear;
}

.soul_colum a:hover{
	color: #82022b;;
}

/*===========================================
			job_section Start
===========================================*/
#job_section{
	background:#ebebeb;
	padding-top:70px;
	padding-top:70px;
	position:relative;
}

.job_sec_content{
	text-align:center;
	margin-top:20px;
}


.job_sec_content h2{ 
	font-weight:bold;
	color:#010002;
	font-size:48px;
}


.slick-slide img{  /*default class*/
	display:inline;  
}

.job_details{
	padding:50px 0px;
	color:#010002;
}

.job_details h5 {
	font-size:32px;
}

.job_details a{
	background:#71c786;
	color:#fff;
	font-size:20px;
	font-weight: 700;
	padding:2px 15px;
	text-decoration:none;
	border-radius:10px;
	margin-top:15px;
	display:inline-block;
	transition:all 0.3s linear;
	margin-bottom:30px;
}

.job_details a:hover{
	background:#00e0d0;
}

/*====== Slick Slider ======*/

.slick-dots {
    position: absolute;
    bottom: 7px;
    transform: translateX(-50%);
    right: 0px;
}

.slick-dots li{
	display:inline-block;
	margin-right:10px;
	width:10px;
	height:10px;
	line-height:10px;
	border:2px solid #71c786;
	border-radius:50%;
}
.slick-dots li button{
	color:transparent;
	width:7.5px;
	height:7.5px;
	border:none;
	border-radius:50%;
	display:inline-block;
	background:#71c786;
	opacity:0;
	transition:all 0.8s ease;
}


.slick-dots li.slick-active button{
	opacity:1;
}


/*================================
        Product Two Section
================================*/
#product_03{
	background: #fff;
	padding-top:100px;
	padding-bottom:100px;
}



.product_three_col_01{
	position:relative;
}

.product_three_col_01 img{}


.product_three_col_01 h3 {
    position: absolute;
    font-size: 35px;
    color: #010002;
    top: 186px;
    left: 42px;
}


.product_three_col_01 a {
    position: absolute;
    background: #4b1fa0;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s linear;
    top: 388px;
    left: 164px;
}

.product_three_col_01 a:hover{
	color: #e4ff03;
}

.product_three_col_02 img{
	
}

/*================================
        Donation Section
================================*/
#donation_section{
	background:linear-gradient(rgba(0, 0, 9, 0.5),rgba(0, 0, 0, 0.5)),url(../images/donation_banner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
/*	background-attachment:fixed;*/
	padding-top:100px;
	padding-bottom:100px;
	
}
.donation_row{
	color: #fff;
}
.donation_colum{

}

.donation_colum img{
	margin-bottom:25px;
}

.donation_colum h2 {
    font-size: 45px;
	font-weight:700;
	margin-bottom:15px;

}

.donation_colum h3 {
    font-size: 30px;
	margin-bottom:30px;
}


.donation_colum a {
    background: #71c786;
    text-decoration: none;
    text-transform:inherit;
    padding: 5px 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s linear;
}

.donation_colum a:hover{
	background:#00e0d0
	
}

/*================================
       PreValz Section
================================*/
#prevalz_section{
	background:#ebebeb;
	padding-top:100px;
	padding-bottom:100px;
}



.prevalz_colum{
	position:relative;
}

.prevalz_colum img{
	padding-top: 20px;
}

.prevalz_content{
	position: absolute;
	top: 30px;
    left: 16px;
}

.prevalz_content h2 {
	font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #010002;
	font-weight: 700;
	margin-bottom: 18px;
	
}

.prevalz_content h3 {
    font-size: 22px;
    color: #010002;
	margin-bottom:25px;
	line-height: 30px;
	font-weight: 500;
}


.prevalz_content a {
    background: #0054a6; 
    text-decoration: none;
    text-transform: capitalize;
    padding: 4px 15px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s linear;
}

.prevalz_content a:hover{
	color: #010002;
}

.product_three_col_02 img{
	
}


/*================================
       Invest Section
================================*/
#invest_section{
	background:#fff;
	padding-top:90px;
	padding-bottom:80px;
}
.invest_colum{}
.invest_colum h3{
	font-size:48px;
	color:#010002;
	margin-bottom:50px;
}

.invest_colum img{
	width:180px;
	height:200px;
	margin-bottom:50px;
}

.invest_colum h5{
	font-size:27px;
	color:#010002;
	line-height: 40px;
	margin-bottom:28px;
}

.invest_colum a{
    background: #71c786; 
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px 15px;
    border-radius: 10px;
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.3s linear;
}

.invest_colum a:hover{
	color: #82022b;
}


/*====================================
            Contact Section
=====================================*/

#contact_section{
	background:linear-gradient(rgba(0, 0, 9, 0.5),rgba(0, 0, 0, 0.5)),url(../images/contact.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
	padding-top:120px;
	padding-bottom:120px;
}


.contact_heading{}
.contact_heading h2{
	color:#fff;
	font-size:48px;
	margin-bottom:30px;
}

.contact_form{
	color:#fff;
}

.contact_form input[type="text"], 
.contact_form input[type="email"]{
    width: 300px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 3px;
	color:#fff;
}



.name_lable{
	margin-right:10px;
}
.name_input{}


.email_lable {
    margin: 0px 10px 0px 69px;
}
.email_input{}

.subject_lable{
	margin: 0px 10px 0px 132px;
}
.subject_input{}

.massage_lable{
	margin: 0px 10px 0px 121px;
}
.massage_input{}

.button_lable{
	margin: 0px 10px 0px -20px;
}
.button_input{
	
}

.contact_form input[type="submit"]{
	width: 100px;
	background:#71c786;
	transition:all 0.3s linear;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	border:none;
	color:#fff;
}

.contact_form input[type="submit"]:hover{
	width: 100px;
	color: #000;
}


/*================================
        Footer Section
================================*/
#footer_section{
	height:45px;
	padding-top:15px;
	font-size:16px;
	color:#010002;
	font-weight: 700;
}

.footer_colum_1{}
.footer_colum_1 p{
}



/*=======================================
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
=======================================*/

